<h1>My Tasks</h1>
<br>
<div class="list">
  <ul>
    <% @tasks.each do |task| %>
      <ul class="d-flex mb-2">
        <div class="w-100">
          <input type="checkbox" id="task-title" name="task-title" value="Task">
          <label for="task-title"><%= link_to task.title, task_path(task) %></label>
        </div>
        <div class="flex-shrink-1">
          <%= link_to "x",
            task_path(task),
            data: {turbo_method: :delete, turbo_confirm: "Do you want to delete #{task.title}?"}
          %><br>
        </div>
      </ul>
    <% end %>
  </ul>
</div>

<div class="link">
  <i class="fa-solid fa-plus me-2"></i><%= link_to "Add a new task", new_task_path %>
</div>
